@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
* {
    font-family: Readex Pro, sans-serif;
}
.player {
    min-height : 450px;
    width : 400px;
    border-radius: 20px;
    background: rgba(145, 79, 131, 0.4);
}
#myvideo {
    position: fixed;
    right : 0;
    bottom: -110px;
    min-height : 100%;
    min-width : 100%;
    filter: blur(8px);
    z-index: -1;
}
.ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}
.img {
    position: absolute;
    top: 105px;
    width: 290px;
    height: 110px;
    border-radius: 15px;
}
.img > img {
    height: 235%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
h3 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 27px;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.btn {
    display: flex;
    justify-content: center;
    gap : 45px;
}
.btn > button {
    padding: 10px;
    background: none;
    border: 1px;
    transition: all .1s linear;
    font-size: 1.3em;
}
.btn>button:nth-child(2){
    font-size: 1.5em;
}
.btn>button:hover{
    color: white;
    transform: scale(1.55);
}
#lin {
    width: 100%;
    height: 4px;
    border-radius:2px;
    background-color: hotpink;
    margin: 5px 5px;
}
.line {
    width: 0%;
    height: 4px;
    border-radius:2px;
    background-color: black;
}